$main-color: #95A8EC;
$Ferrari: #E80020;
$McLaren: #FF8000;
$RedBull: #3671C6;
$AstonMartin: #229971;
$Mercedes: #27F4D2;
$Alpine: #0093CC;
$Williams: #64C4FF;
$VisaRB: #6692FF;
$Sauber: #52e252;
$Haas: #B6BABD;